<h1>Добавить разработчика</h1>
<form id="add" action method="get">
    <div class="col-4 mb-2">
        <label for="inp_name" class="form-label">Имя</label>
        <input class="form-control" id='inp_name' type="text" name="name">
    </div>
    {{!-- <div class="col-1 mb-2">
        <label for="inp_group" class="form-label">Группа</label>
        <input class="form-control" id='inp_group' type="text" name="group">
    </div> --}}
    <button type="submit" class="btn-success btn">Добавить</button>
</form>
<script src="/addDev.js"></script>
